<h2>Methods that were not run</h2><table>
<tr><td>week6.day1.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.ProjectMethods.beforeSuite</td></tr>
<tr><td>week6.day1.ProjectMethods.beforeSuite</td></tr>
<tr><td>week6.day1.TC02_EditLead.editLead</td></tr>
</table>