<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG attr</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:53:48</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:53:49</td>   <td>141</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/22 09:53:49</td>   <td>142</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_EditLead.setData()[pri:0, instance:week6.day1.TC02_EditLead@19d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/22 09:53:49</td>   <td>142</td> <td>&nbsp;</td><td title="&gt;&gt;TC03_DeleteLead.setData()[pri:0, instance:week6.day1.TC03_DeleteLead@1753b6d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:53:49</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:53:49</td>   <td>167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:54:18</td>   <td>29812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">createLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:54:29</td>   <td>40241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:54:29</td>   <td>40456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:54:53</td>   <td>64995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">createLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:55:03</td>   <td>74772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:55:05</td>   <td>77087</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TC03_DeleteLead@1753b6d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/22 09:55:06</td>   <td>77147</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week6.day1.TC01_CreateLead@10736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
</table>
