<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>TC02_EditLead.editLead()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]<br/>TC03_DeleteLead.deleteLead()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]<br/></td></tr>
<tr><td>smoke</td><td>TC01_CreateLead.createLead()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]<br/></td></tr>
</table>
