<h2>Methods that were not run</h2><table>
<tr><td>week6.day1.TestNG_groups.TC05_MergeLead.mergeLead</td></tr>
<tr><td>week6.day1.TestNG_groups.TC04_DuplicateLead.duplicateLead</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.afterSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.beforeSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.beforeSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.beforeSuite</td></tr>
<tr><td>week6.day1.TestNG_groups.ProjectMethods.beforeSuite</td></tr>
</table>