<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG Group Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:32:45</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/22 11:32:46</td>   <td>125</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/22 11:32:46</td>   <td>125</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_EditLead.setData()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/22 11:32:46</td>   <td>125</td> <td>&nbsp;</td><td title="&gt;&gt;TC03_DeleteLead.setData()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:32:46</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:32:46</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/22 11:32:57</td>   <td>11538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">createLead</td> 
  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:33:32</td>   <td>46450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:33:32</td>   <td>46632</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:33:32</td>   <td>46632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/22 11:33:44</td>   <td>58090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03_DeleteLead.deleteLead()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]">deleteLead</td> 
  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:34:08</td>   <td>82954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TestNG_groups.TC03_DeleteLead@9b1010]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:34:09</td>   <td>83080</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:34:09</td>   <td>83080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/22 11:34:20</td>   <td>94023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_EditLead.editLead()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]">editLead</td> 
  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:34:36</td>   <td>110853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TestNG_groups.TC02_EditLead@a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 11:34:37</td>   <td>111061</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week6.day1.TestNG_groups.TC01_CreateLead@136e911]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12099672</td>   <td></td> </tr>
</table>
