<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>19/11/14 00:32:40</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/14 00:32:41</td>   <td>223</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/11/14 00:32:41</td>   <td>239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/14 00:32:41</td>   <td>879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLeadExecute(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">createLeadExecute</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/14 00:32:41</td>   <td>879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLeadExecute(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">createLeadExecute</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/14 00:32:41</td>   <td>895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLeadExecute(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week7.day1.TC01_CreateLead@9ba398]">createLeadExecute</td> 
  <td>main@24346938</td>   <td></td> </tr>
</table>
