<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Functional Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:48:48</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 21:48:49</td>   <td>160</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 21:48:49</td>   <td>160</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_EditLead.setData()[pri:0, instance:wdMethods.TC02_EditLead@109bb57]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/15 21:48:49</td>   <td>160</td> <td>&nbsp;</td><td title="&gt;&gt;TC03_DeleteLead.setData()[pri:0, instance:wdMethods.TC03_DeleteLead@136e911]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 21:48:49</td>   <td>160</td> <td>&nbsp;</td><td title="&gt;&gt;TC04_DuplicateLead.setData()[pri:0, instance:wdMethods.TC04_DuplicateLead@a3426]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/15 21:48:49</td>   <td>160</td> <td>&nbsp;</td><td title="&gt;&gt;TC05_MergeLead.setData()[pri:0, instance:wdMethods.TC05_MergeLead@eed359]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:48:49</td>   <td>169</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:48:49</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 21:49:04</td>   <td>15997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">createLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:49:47</td>   <td>58998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:49:50</td>   <td>61324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC02_EditLead@109bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:49:50</td>   <td>61325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC02_EditLead@109bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 21:50:04</td>   <td>75827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_EditLead.editLead()[pri:0, instance:wdMethods.TC02_EditLead@109bb57]">editLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:50:26</td>   <td>97752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC02_EditLead@109bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:50:26</td>   <td>97891</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC03_DeleteLead@136e911]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:50:26</td>   <td>97891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC03_DeleteLead@136e911]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/15 21:50:39</td>   <td>110831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03_DeleteLead.deleteLead()[pri:0, instance:wdMethods.TC03_DeleteLead@136e911]">deleteLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:07</td>   <td>138886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC03_DeleteLead@136e911]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:09</td>   <td>140955</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC04_DuplicateLead@a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:09</td>   <td>140957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC04_DuplicateLead@a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 21:51:23</td>   <td>154560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04_DuplicateLead.duplicateLead()[pri:0, instance:wdMethods.TC04_DuplicateLead@a3426]">duplicateLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:45</td>   <td>177034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC04_DuplicateLead@a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:46</td>   <td>177111</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC05_MergeLead@eed359]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:51:46</td>   <td>177111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC05_MergeLead@eed359]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/15 21:51:59</td>   <td>190903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05_MergeLead.mergeLead()[pri:0, instance:wdMethods.TC05_MergeLead@eed359]">mergeLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:52:24</td>   <td>215882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC05_MergeLead@eed359]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/15 21:52:24</td>   <td>216051</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:wdMethods.TC01_CreateLead@1753b6d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
</table>
