<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Leaftap</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 10:57:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_EditLead.execute()[pri:0, instance:wdMethods.TC02_EditLead@12b07fd]">execute</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 10:58:20</td>   <td>26901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03_DeleteLead.execute()[pri:0, instance:wdMethods.TC03_DeleteLead@1d56113]">execute</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/15 10:58:58</td>   <td>65116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.execute()[pri:0, instance:wdMethods.TC01_CreateLead@8080bb]">execute</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 10:59:18</td>   <td>84616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05_MergeLead.execute()[pri:0, instance:wdMethods.TC05_MergeLead@1c24521]">execute</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/15 11:00:01</td>   <td>128077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04_DuplicateLead.execute()[pri:0, instance:wdMethods.TC04_DuplicateLead@bdf5e5]">execute</td> 
  <td>main@8928487</td>   <td></td> </tr>
</table>
