<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG para Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:26:17</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:24:12</td>   <td>-124260</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:24:12</td>   <td>-124671</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:25:28</td>   <td>-48096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:26:15</td>   <td>-1204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/13 23:25:18</td>   <td>-58033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">createLead</td> 
  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/13 23:26:03</td>   <td>-13377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">createLead</td> 
  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:24:12</td>   <td>-124236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/13 23:25:31</td>   <td>-45190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/13 23:24:12</td>   <td>-124268</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:week6.day1.TestNG_para.TC01_CreateLead@1a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
</table>
