<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>22/09/27 02:51:45</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/27 02:51:47</td>   <td>1257</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/27 02:51:47</td>   <td>1315</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>22/09/27 02:51:49</td>   <td>3119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/27 02:52:13</td>   <td>27847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">createLead</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/27 02:52:13</td>   <td>27856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">createLead</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>22/09/27 02:52:13</td>   <td>27860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC01_CreateLead@7740a2]">createLead</td> 
  <td>main@29229920</td>   <td></td> </tr>
</table>
